Repository shanks-t/llmOps: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk-lint, sdk-typecheck, sdk-security, genai-check

sdk-lint:
  name: sdk lint
  entry: just sdk::lint
  language: system
  pass_filenames: false

sdk-typecheck:
  name: sdk typecheck
  entry: just sdk::typecheck
  language: system
  pass_filenames: false

sdk-security:
  name: sdk security
  entry: just sdk::security
  language: system
  pass_filenames: false

genai-check:
  name: genai check
  entry: just genai-check
  language: system
  pass_filenames: false

chore: remove PRD_02 instrument_existing_tracer feature
  Justfile
  llm-observability-sdk/examples/genai_service/.env.example
  llm-observability-sdk/examples/genai_service/Justfile
  llm-observability-sdk/examples/genai_service/README.md
  llm-observability-sdk/examples/genai_service/__init__.py
  llm-observability-sdk/examples/genai_service/agents.py
  llm-observability-sdk/examples/genai_service/config.py
  llm-observability-sdk/examples/genai_service/llmops.yaml
  llm-observability-sdk/examples/genai_service/main.py
  llm-observability-sdk/examples/genai_service/observability.py
  llm-observability-sdk/examples/genai_service/pyproject.toml
  llm-observability-sdk/examples/genai_service/scripts/__init__.py
  llm-observability-sdk/examples/genai_service/scripts/setup_data.py
  llm-observability-sdk/examples/genai_service/uv.lock
  llm-observability-sdk/src/llmops/_internal/span_filter.py
  llm-observability-sdk/src/llmops/_platforms/arize.py
  llm-observability-sdk/src/llmops/arize.py
  llm-observability-sdk/src/llmops/config.py
  llm-observability-sdk/tests/COVERAGE.md
  llm-observability-sdk/tests/conftest.py
  llm-observability-sdk/tests/integration/test_duplicate_guard.py
  llm-observability-sdk/tests/integration/test_instrument_existing.py
  llm-observability-sdk/tests/unit/test_span_filter.py
Due: sdk-lint, sdk-typecheck, sdk-security, genai-check

feat: add demo app aliases to root Justfile and env var for project_name
  Justfile
  llm-observability-sdk/examples/llmops_demo/.env.example
  llm-observability-sdk/examples/llmops_demo/llmops.yaml
Due: sdk-lint, sdk-typecheck, sdk-security

refactor: migrate pre-commit hooks from Just to Hatch
  .pre-commit-config.yaml
  llm-observability-sdk/pyproject.toml
  llm-observability-sdk/tests/fakes.py
Due: sdk-lint, sdk-typecheck, sdk-security

refactor: restructure Hatch config to root with simplified pre-commit hooks
  .pre-commit-config.yaml
  llm-observability-sdk/pyproject.toml
  pyproject.toml
Due: sdk-lint, sdk-typecheck, sdk-security

docs: align architecture docs with single init() pattern and platform-agnostic eval
  docs/CONCEPTUAL_ARCHITECTURE.md
  docs/DESIGN_PHILOSOPHY.md
  docs/api_spec/API_SPEC_01.md
  docs/api_spec/API_SPEC_03.md
  docs/prd/PRD_01.md
  docs/prd/PRD_03.md
  docs/reference_architecture/REFERENCE_ARCHITECTURE_01.md
Due: none

refactor: rename init() to instrument() across the SDK
  docs/DESIGN_PHILOSOPHY.md
  docs/REFACTOR_PLAN.md
  docs/api_spec/API_SPEC_01.md
  docs/api_spec/API_SPEC_03.md
  docs/architecture/CONCEPTUAL_ARCHITECTURE.md
  docs/architecture/REFERENCE_ARCHITECTURE.md
  docs/examples/API_SPECIFICATION_EXAMPLE.md
  docs/examples/CONCEPTUAL_ARCHITECTURE_EXAMPLE.md
  docs/examples/REFERENCE_ARCHITECTURE_EXAMPLE.md
  docs/prd/PRD_01.md
  docs/prd/PRD_03.md
  llm-observability-sdk/examples/llmops_demo/agents.py
  llm-observability-sdk/examples/llmops_demo/main.py
  llm-observability-sdk/src/llmops/__init__.py
  llm-observability-sdk/src/llmops/api/__init__.py
  llm-observability-sdk/src/llmops/api/_init.py
  llm-observability-sdk/tests/conftest.py
  llm-observability-sdk/tests/integration/test_arize_instrument.py
  llm-observability-sdk/tests/integration/test_auto_instrumentation.py
  llm-observability-sdk/tests/integration/test_mlflow_instrument.py
  llm-observability-sdk/tests/unit/test_config.py
  llm-observability-sdk/tests/unit/test_lazy_loading.py
  llm-observability-sdk/tests/unit/test_platform_isolation.py
  llm-observability-sdk/tests/unit/test_validation.py
Due: sdk-lint, sdk-typecheck, sdk-security

Path conditions:
  sdk-lint: any of: ^llm-observability-sdk/
  sdk-typecheck: any of: ^llm-observability-sdk/
  sdk-security: any of: ^llm-observability-sdk/
  genai-check: any of: ^llm-observability-sdk/examples/genai_service/
